/* Login */
body.signin .horizontal-form.october { display: block !important; }
body.signin .horizontal-form.october .form-control { margin-bottom: 15px !important; display: block !important; width: 100% !important; color: #111 !important; }
body.signin .layout-head .layout-cell,
body.signin .layout > .layout-row.layout-head > .layout-cell::after { display: none !important; }
body.signin { background: #222222; }

/* Backend */
a { color: #3498db; }
a:hover,
a:focus { color: #2980b9; }
body { background: #f1f1f1; background-color: #f1f1f1; }
nav#layout-mainmenu ul.mainmenu-toolbar li.mainmenu-account img.account-avatar { border-radius: 50%; }

/* Forms */
.control-scrollpanel { background: #ebebeb; background-color: #ebebeb; }
label { font-weight: 600; }
.btn-primary { background: #3498db; border-color: #3498db; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background: #2980b9; border-color: #2980b9; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { color: #fff; background: #2980b9; border-color: #2980b9; }

/* Styles.css */
body {font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:14px;line-height:1.42857143;color:#333;background-color:#f4f4f4}
a {color:#3498db;text-decoration:none}
a:focus {color:#124364;text-decoration:underline}
.img-rounded {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.text-primary {color:#222}
a.text-primary:hover {color:#080808}
.bg-primary {color:#fff;background-color:#222}
a.bg-primary:hover {background-color:#080808}

/* Storm.css */
body {font-family:sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#f4f4f4}
a {color:#3498db;text-decoration:none}
a:focus {color:#124364;text-decoration:underline}
.img-rounded {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.text-primary {color:#222}
a.text-primary:hover {color:#080808}
.bg-primary {color:#fff;background-color:#222}
a.bg-primary:hover {background-color:#080808}
.br-p {color:#222}
.br-s {color:#3498db}
.br-p-s10 {color:#251f1f}
.br-s-s10 {color:#289ae7}
.br-p-s20 {color:#291b1b}
.br-s-s20 {color:#1c9df3}
.bg-p {background-color:#222}
.bg-s {background-color:#3498db}
.bg-p-s10 {background-color:#251f1f}
.bg-s-s10 {background-color:#289ae7}
.bg-p-s20 {background-color:#291b1b}
.bg-s-s20 {background-color:#1c9df3}
.btn {display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:8px 19.5px;font-size:14px;line-height:1.42857143;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.open .dropdown-toggle.btn-success {color:#fff;background:#2ecc71;border-color:#2ecc71}
.open .dropdown-toggle.btn-success {background:#26ab5f;border-color:#239a55;background-image:none}
.btn-success.on {background:#494f58;border-color:#1a7541;background-image:none}
.btn-success[disabled].active {background:#656d79;border-color:#29b765}
.open .dropdown-toggle.btn-info {color:#fff;background:#3498db;border-color:#3498db}
.open .dropdown-toggle.btn-info {background:#2383c4;border-color:#2077b2;background-image:none}
.btn-info.on {background:#494f58;border-color:#195d8b;background-image:none}
.btn-info[disabled].active {background:#656d79;border-color:#258cd1}
.open .dropdown-toggle.btn-warning {color:#fff;background:#f1c40f;border-color:#f1c40f}
.open .dropdown-toggle.btn-warning {background:#cba50c;border-color:#b8960b;background-image:none}
.btn-warning.on {background:#494f58;border-color:#8d7208;background-image:none}
.btn-warning[disabled].active {background:#656d79;border-color:#dab10d}
.open .dropdown-toggle.btn-danger {color:#fff;background:#e74c3c;border-color:#e74c3c}
.open .dropdown-toggle.btn-danger {background:#df2e1b;border-color:#cd2a19;background-image:none}
.btn-danger.on {background:#494f58;border-color:#a42214;background-image:none}
.btn-danger[disabled].active {background:#656d79;border-color:#e43725}
.btn-outline-info {color:#217dbb;background-image:none;background-color:transparent;border-color:#3498db}
.btn-outline-info.focus {color:#fff;background-color:#3498db;border-color:#3498db}
.open >.dropdown-toggle.btn-outline-info {color:#fff;background-color:#3498db;border-color:#3498db}
.open >.dropdown-toggle.btn-outline-info.focus {color:#fff;background-color:#1c699d;border-color:#16527a}
.btn-outline-info:disabled.focus {border-color:#8bc4ea}
.btn-outline-success {color:#25a25a;background-image:none;background-color:transparent;border-color:#2ecc71}
.btn-outline-success.focus {color:#fff;background-color:#2ecc71;border-color:#2ecc71}
.open >.dropdown-toggle.btn-outline-success {color:#fff;background-color:#2ecc71;border-color:#2ecc71}
.open >.dropdown-toggle.btn-outline-success.focus {color:#fff;background-color:#1e854a;border-color:#176437}
.btn-outline-success:disabled.focus {border-color:#7ee2a8}
.btn-outline-warning {color:#c29d0b;background-image:none;background-color:transparent;border-color:#f1c40f}
.btn-outline-warning.focus {color:#fff;background-color:#f1c40f;border-color:#f1c40f}
.open >.dropdown-toggle.btn-outline-warning {color:#fff;background-color:#f1c40f;border-color:#f1c40f}
.open >.dropdown-toggle.btn-outline-warning.focus {color:#fff;background-color:#a08209;border-color:#796307}
.btn-outline-warning:disabled.focus {border-color:#f7dc6f}
.btn-outline-danger {color:#d62c1a;background-image:none;background-color:transparent;border-color:#e74c3c}
.btn-outline-danger.focus {color:#fff;background-color:#e74c3c;border-color:#e74c3c}
.open >.dropdown-toggle.btn-outline-danger {color:#fff;background-color:#e74c3c;border-color:#e74c3c}
.open >.dropdown-toggle.btn-outline-danger.focus {color:#fff;background-color:#b62516;border-color:#921e12}
.btn-outline-danger:disabled.focus {border-color:#f29f97}
.btn-link {color:#3498db;font-weight:normal;cursor:pointer;border-radius:0}
.btn-link:focus {color:#124364;text-decoration:underline;background-color:transparent}
.btn-group-lg >.btn {padding:10px 24px;font-size:18px;line-height:1.3333333;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group-sm >.btn {padding:5px 15px;font-size:12px;line-height:1.5;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group-xs >.btn {padding:1px 7.5px;font-size:12px;line-height:1.5;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group-vertical >.btn:first-child:not(:last-child) {border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0}
.btn-group-vertical >.btn:last-child:not(:first-child) {border-bottom-left-radius:0;border-top-right-radius:0;border-top-left-radius:0}
.btn-group .btn.last {border-bottom-right-radius:0 !important;border-top-right-radius:0 !important}
.btn-icon:hover:before {color:#3498db}
.btn-icon.danger:hover:before {color:#e74c3c}
.btn-text a:hover {color:#3498db}
.tooltip-inner {max-width:200px;padding:3px 8px;color:#fff;text-align:center;text-decoration:none;background-color:#444;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.16),0 2px 4px rgba(0,0,0,0.23);box-shadow:0 3px 6px rgba(0,0,0,0.16),0 2px 4px rgba(0,0,0,0.23)}
.tooltip.top .tooltip-arrow {bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#444}
.tooltip.top-left .tooltip-arrow {bottom:0;left:5px;border-width:5px 5px 0;border-top-color:#444}
.tooltip.top-right .tooltip-arrow {bottom:0;right:5px;border-width:5px 5px 0;border-top-color:#444}
.tooltip.right .tooltip-arrow {top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#444}
.tooltip.left .tooltip-arrow {top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#444}
.tooltip.bottom .tooltip-arrow {top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#444}
.tooltip.bottom-left .tooltip-arrow {top:0;left:5px;border-width:0 5px 5px;border-bottom-color:#444}
.tooltip.bottom-right .tooltip-arrow {top:0;right:5px;border-width:0 5px 5px;border-bottom-color:#444}
.dropdown-menu {position:absolute;top:100%;left:0;z-index:600;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box}
.dropdown-menu >li >a:focus {text-decoration:none;color:#262626;background-color:#f1f1f1}
.dropdown-menu >.active >a:focus {color:#fff;text-decoration:none;outline:0;background-color:#222}
.dropdown-menu .dropdown-container >ul {background-color:#fff;padding:0;list-style:none;position:relative;margin-top:7px;-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
div.control-popover .popover-head {background:#f4f4f4;padding:14px 16px;position:relative;color:#222;border-top-right-radius:2px;border-top-left-radius:2px;border-bottom:2px solid rgba(0,0,0,0.15)}
div.control-popover .popover-head .close {float:none;position:absolute;right:11px;top:12px;color:#222;outline:none;opacity:0.4;filter:alpha(opacity=40)}
div.control-popover.placement-bottom .popover-head:before {content:'';display:block;width:0;height:0;border-left:7.5px solid transparent;border-right:7.5px solid transparent;border-bottom:8px solid #f4f4f4;left:15px;top:-8px}
div.control-popover.placement-left .popover-head:before {content:'';display:block;width:0;height:0;border-top:7.5px solid transparent;border-bottom:7.5px solid transparent;border-left:8px solid #f4f4f4;right:-8px;top:7px}
div.control-popover.placement-right .popover-head:before {content:'';display:block;width:0;height:0;border-top:7.5px solid transparent;border-bottom:7.5px solid transparent;border-right:8px solid #f4f4f4;left:-8px;top:7px}
.control-breadcrumb {margin:-20px -20px 20px -20px;background-color:#d6d6d6}
.control-breadcrumb li {font-size:14px;list-style:none;margin:0;padding:12px 10px 12px 30px;display:inline-block;position:relative;color:#222;background-color:#c2c2c2}
.control-breadcrumb li a {display:inline-block;color:#222;text-decoration:none}
.control-breadcrumb li a:hover {color:#222}
.control-breadcrumb li:after {content:'';display:block;width:0;height:0;border-top:22.5px solid transparent;border-bottom:22.5px solid transparent;border-left:15px solid #c2c2c2}
.control-breadcrumb li:before {right:-15px;z-index:9;content:'';display:block;width:0;height:0;border-top:22.5px solid transparent;border-bottom:22.5px solid transparent;border-left:15px solid #d6d6d6}
.control-breadcrumb li:last-child {background-color:transparent;color:#222}
.progress {overflow:hidden;height:9px;margin-bottom:20px;background-color:#d9dee0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.progress-bar-success {background-color:#2ecc71}
.progress-bar-info {background-color:#3498db}
.progress-bar-warning {background-color:#f1c40f}
.progress-bar-danger {background-color:#e74c3c}
.nav .open >a:focus {background-color:#eee;border-color:#3498db}
.nav-tabs >li >a {margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:0 0 0 0}
.nav-tabs.nav-justified >li >a {margin-right:0;border-radius:0}
@media (min-width:768px) {.nav-tabs.nav-justified >li >a {border-bottom:1px solid #ddd;border-radius:0 0 0 0 }.nav-tabs.nav-justified >.active >a,.nav-tabs.nav-justified >.active >a:hover,.nav-tabs.nav-justified >.active >a:focus {border-bottom-color:#f4f4f4 }}
.nav-pills >li >a {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.nav-pills >li.active >a:focus {color:#fff;background-color:#222}
.nav-tabs-justified >li >a {margin-right:0;border-radius:0}
@media (min-width:768px) {.nav-tabs-justified >li >a {border-bottom:1px solid #ddd;border-radius:0 0 0 0 }.nav-tabs-justified >.active >a,.nav-tabs-justified >.active >a:hover,.nav-tabs-justified >.active >a:focus {border-bottom-color:#f4f4f4 }}
.control-tabs >div >div >ul.nav-tabs >li.active a {color:#222}
.control-tabs[data-closable] >div >div >ul.nav-tabs >li span.tab-close:hover i {color:#e74c3c}
.control-tabs.primary-tabs >div >div >ul.nav-tabs >li a >span.title:after {content:'';display:block;border-top:2px solid #e0e0e0;position:absolute;background:#f4f4f4;top:0;z-index:-1;width:20px;bottom:-2px;transform-origin:bottom}
.control-tabs.primary-tabs >div >div >ul.nav-tabs >li.active a:before {position:absolute;bottom:0;height:2px;right:2px;left:2px;content:' ';background-color:#f4f4f4}
.control-chart div.chart-legend table tr td i {display:inline-block;width:13px;height:13px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;text-indent:-100000em;margin-right:5px;position:relative;top:2px}
#chart-tooltip {white-space:nowrap;padding:7px 10px;background:#000;position:absolute;z-index:10200;color:#fff;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;font-size:12px;opacity:0.8;filter:alpha(opacity=80)}
.control-status-list >ul li a:hover {color:#3498db;text-decoration:none}
.control-status-list >ul li .status-text.primary {color:#222}
a.control-status-list >ul li .status-text.primary:hover {color:#080808}
.control-status-list >ul li .status-label {float:right;display:inline-block;padding:1px 5px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.control-status-list >ul li .status-label.success {background:#2ecc71}
.control-status-list >ul li .status-label.primary {background:#222}
.control-status-list >ul li .status-label.warning {background:#f1c40f}
.control-status-list >ul li .status-label.danger {background:#e74c3c}
.control-status-list >ul li .status-label.info {background:#3498db}
.control-toolbar .toolbar-item .btn-group .dropdown.last >.btn {border-bottom-right-radius:0 !important;border-top-right-radius:0 !important}
.compact-toolbar div.control-toolbar.separator {border-bottom:1px solid #ebebeb}
.compact-toolbar div.control-toolbar input.form-control {border:none;padding:11px 13px 12px;height:auto;-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important;-webkit-box-shadow:inset 0 1px 0 #e0e0e0;box-shadow:inset 0 1px 0 #e0e0e0}
.flash-message {position:fixed;width:500px;left:50%;top:50px;margin-left:-250px;color:#fff;font-size:14px;padding:10px 30px 10px 15px;z-index:10300;word-wrap:break-word;text-align:center;-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.flash-message.success {background:#2ecc71}
label {display:inline-block;margin-bottom:5px;font-weight:normal;font-size:13px;color:#222}
output {display:block;padding-top:9px;font-size:14px;line-height:1.42857143;color:#222}
.form-control {display:block;width:100%;height:38px;padding:8px 13px 9px;font-size:14px;line-height:1.42857143;color:#222;background-color:#fff;background-image:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s}
.form-control:focus {border-color:#e0e0e0;outline:0}
.input-sm {height:30px;padding:5px 10px;font-size:12px;line-height:1.5;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.input-lg {height:46px;padding:10px 16px;font-size:18px;line-height:1.3333333;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.input-group-lg >.input-group-btn >.btn {height:46px;padding:10px 16px;font-size:18px;line-height:1.3333333;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.input-group-sm >.input-group-btn >.btn {height:30px;padding:5px 10px;font-size:12px;line-height:1.5;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.input-group-addon {padding:8px 13px;font-size:14px;font-weight:normal;line-height:1;color:#222;text-align:center;background-color:#eee;border:1px solid #e0e0e0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.input-group-addon.input-sm {padding:5px 10px;font-size:12px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.input-group-addon.input-lg {padding:10px 16px;font-size:18px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.loading-indicator {padding:20px 20px 20px 60px;color:#999;font-size:14px;font-weight:500;background:#f4f4f4;text-align:left;z-index:10}
.select2-container--default .select2-selection {background-color:#fff;border:1px solid #e0e0e0;border-radius:0;color:#222;font-size:14px;-webkit-box-shadow:none;box-shadow:none;outline:0}
.select2-container--default .select2-search--dropdown .select2-search__field {background-color:#fff;border:1px solid #e0e0e0;border-radius:0;color:#222;font-size:14px;-webkit-box-shadow:none;box-shadow:none}
.select2-container--default .select2-results__option[aria-selected=true] {background-color:#f1f1f1;color:#262626}
.select2-container--default.select2-container--open .select2-selection {-webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;border-color:#e0e0e0}
.select2-container--default.select2-container--disabled .select2-selection {border-color:#e0e0e0;-webkit-box-shadow:none;box-shadow:none}
.select2-container--default .select2-dropdown {-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.075);box-shadow:0 3px 6px rgba(0,0,0,0.075);border-color:#e0e0e0;overflow-x:hidden;margin-top:-1px}
.select2-container--default .select2-selection--single .select2-selection__rendered {color:#222;padding:0}
.form-group-sm .select2-container--default .select2-selection--single {border-radius:0;font-size:12px;height:30px;line-height:1.5;padding:5px 22px 5px 10px}
.form-group-lg .select2-container--default .select2-selection--single {border-radius:0;font-size:18px;height:46px;line-height:1.3333333;padding:10px 31px 10px 16px}
.control-balloon-selector ul li {list-style:none;display:inline-block;padding:6px 7px 5px;margin-right:5px;margin-top:6px;text-transform:uppercase;background:#bcc3c7;color:#fff;font-size:10px;line-height:100%;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-transition:all 0.1s ease;transition:all 0.1s ease}
.control-balloon-selector:not(.control-disabled) ul li:hover {background:#3498db;cursor:pointer}
.custom-radio label:before {content:"";display:inline-block;text-align:center;color:#fff;width:18px;height:18px;margin-right:15px;position:absolute;left:-3px;top:0;background-color:#FFF;border:1px solid #e0e0e0;-webkit-box-shadow:none;box-shadow:none}
.custom-radio label:hover:before {border-color:#c7c7c7}
.custom-radio label:active:before {border-color:#adadad;border-width:2px}
.custom-radio input[type=radio][data-radio-color=green]:checked + label:before {border-color:#2ecc71}
.custom-radio input[type=radio][data-radio-color=green]:checked + label:after {background-color:#2ecc71}
.custom-radio input[type=radio][data-radio-color=red]:checked + label:before {border-color:#e74c3c}
.custom-radio input[type=radio][data-radio-color=red]:checked + label:after {background-color:#e74c3c}
.custom-radio input:disabled + label:before {border:1px solid #e0e0e0 !important}
.custom-radio:focus label:before {border-color:#222}
.custom-checkbox label:before {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.custom-switch input:checked ~ span {background-color:#2ecc71}
.custom-switch >span {display:block;height:100%;position:absolute;left:0;width:100%;background-color:#e74c3c;font-size:12px;font-weight:600;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}
.form-control {position:relative;-webkit-appearance:none;border:1px solid #e0e0e0;-webkit-box-shadow:none;box-shadow:none}
.form-control:focus {border:1px solid #e0e0e0}
.form-group.is-required >.field-switch >label:after {background-color:#e74c3c;width:5px;height:5px;margin-left:3px;vertical-align:super;font-size:60%;content:"";display:inline-block;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
.form-group.input-sidebar-control .sidebar-control:focus {text-decoration:none;color:#3498db;outline:none}
.field-section {border-bottom:1px solid #e0e0e0;padding-top:3px;padding-bottom:7px}
.field-section.is-collapsible:hover {border-bottom:1px solid #c7c7c7}
.field-checkboxlist .field-checkboxlist-inner {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background:#fff;border:1px solid #e2e2e2}
.field-checkboxlist .checkboxlist-controls >div >a:hover >i {color:#222}
.field-recordfinder {background-color:#fff;border:1px solid #e0e0e0;overflow:hidden;position:relative;-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.table tbody tr.rowlink:hover td {background-color:#f1f1f1}
.table .table {background-color:#f4f4f4}
.table-striped >tbody >tr:nth-child(odd) >th {background-color:#f4f4f4}
.table-hover >tbody >tr:hover >th {background-color:#f1f1f1}
.table >tfoot >tr.active >th {background-color:#f1f1f1}
.table-hover >tbody >tr.active:hover >th {background-color:#e4e4e4}
table.table.data thead th.active >a:after {color:#e74c3c;opacity:1 !important;filter:alpha(opacity=100) !important}
table.table.data tbody tr:nth-child(even) th {background-color:#ebebeb}
table.table.data tbody th div.progress div.bar {position:absolute;left:-15px;top:-11px;bottom:-11px;background:#3498db;opacity:0.3;filter:alpha(opacity=30)}
table.table.data tbody tr.special th a {color:#999}
table.table.data .list-badge {display:inline-block;position:relative;top:0;margin:0 5px 0 0;padding:1px 0 0 0;font-size:10px;width:15px;height:15px;text-align:center;border-radius:0;color:#fff}
table.table.data .list-badge.badge-primary {background:#222}
table.table.data .list-badge.badge-success {background:#2ecc71}
table.table.data .list-badge.badge-info {background:#3498db}
table.table.data .list-badge.badge-warning {background:#f1c40f}
table.table.data .list-badge.badge-danger {background:#e74c3c}
.control-list p.no-data {padding:18px 20px;margin:0 20px;color:#555;font-size:13px;text-align:center;font-weight:300;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.inspector-header {background:#f4f4f4;padding:14px 16px;position:relative;color:#222;border-bottom:2px solid rgba(0,0,0,0.15)}
.control-pagination .page-iteration {margin-right:4px;font-size:13px;color:#999;display:block}
.control-pagination a.page-first:hover:before {color:#3498db}
.control-filter {padding:0 10px;color:rgba(0,0,0,0.6);background-color:#ebebeb;border-top:1px solid #d7dbdd;border-bottom:1px solid #d7dbdd;font-size:13px}
.control-filter >.filter-scope.loading-indicator-container.in-progress .loading-indicator >span {left:unset;right:0;top:10px;background-color:#ebebeb;border-radius:50%;margin-top:0;width:20px;height:20px;background-size:15px 15px}
.modal-content {position:relative;border:1px solid #999;border:1px solid rgba(0,0,0,0.2);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);background-clip:padding-box;outline:none}
.modal-content {-webkit-box-shadow:0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);box-shadow:0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:none;background:#f4f4f4}
.modal-header {background:transparent;color:#222;border-top-right-radius:0;border-top-left-radius:0;padding:20px 20px;border:none}
.pika-button {cursor:pointer;display:block;outline:none;border:0;margin:0;width:100%;padding:5px;color:#666;font-size:12px;line-height:15px;text-align:right;background:#f1f1f1}
.clockpicker-popover .popover-title {padding:8px 14px;margin:0;font-size:14px;font-weight:normal;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #e0e0e0;border-radius:5px 5px 0 0}
.pika-single {border-radius:0;font-size:12px;margin-top:5px;z-index:10100;font-family:sans-serif;width:310px}
.pika-single .pika-button:hover {color:#34495e !important;background:#f1f1f1 !important}
.clockpicker-popover {z-index:10100;-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);border-radius:0}
.field-richeditor { border: 1px solid #e0e0e0 !important; border-radius: 0 !important; box-shadow: none !important; }

/* October.css */
.sweet-alert {background-color:#f4f4f4;width:478px;padding:17px;border-radius:5px;text-align:center;position:fixed;left:50%;top:50%;margin-left:-256px;margin-top:-200px;overflow:hidden;display:none;z-index:8600}
.sweet-alert .icon.error {border-color:#e43725}
.sweet-alert .icon.error .line {position:absolute;height:5px;width:47px;background-color:#e74c3c;display:block;top:37px;border-radius:2px}
.sweet-alert .icon.warning {border-color:#dab10d}
.sweet-alert .icon.warning .body {position:absolute;width:5px;height:47px;left:50%;top:10px;border-radius:2px;margin-left:-2px;background-color:#f1c40f}
.sweet-alert .icon.warning .dot {position:absolute;width:7px;height:7px;border-radius:50%;margin-left:-3px;left:50%;bottom:10px;background-color:#f1c40f}
.sweet-alert .icon.info {border-color:#258cd1}
.sweet-alert .icon.info::before {content:"";position:absolute;width:5px;height:29px;left:50%;bottom:17px;border-radius:2px;margin-left:-2px;background-color:#3498db}
.sweet-alert .icon.info::after {content:"";position:absolute;width:7px;height:7px;border-radius:50%;margin-left:-3px;top:19px;background-color:#3498db}
.sweet-alert .icon.success {border-color:#29b765}
.sweet-alert .icon.success .placeholder {width:80px;height:80px;border:4px solid rgba(46,204,113,0.2);border-radius:50%;box-sizing:content-box;position:absolute;left:-4px;top:-4px;z-index:2}
.sweet-alert .icon.success .fix {width:5px;height:90px;background-color:#f4f4f4;position:absolute;left:28px;top:8px;z-index:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.sweet-alert .icon.success .line {height:5px;background-color:#2ecc71;display:block;border-radius:2px;position:absolute;z-index:2}
.sweet-alert .btn-success:focus {border-color:#29b765;outline:0}
.sweet-alert .btn-info:focus {border-color:#258cd1;outline:0}
.sweet-alert .btn-danger:focus {border-color:#e43725;outline:0}
.sweet-alert .btn-warning:focus {border-color:#dab10d;outline:0}
.sweet-alert {text-align:right;border-radius:0;-webkit-box-shadow:0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);box-shadow:0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);z-index:10500}
.control-simplelist {font-size:13px;padding:20px 20px 2px 20px;margin-bottom:20px;background:#fff;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.control-simplelist.is-sortable li.dragged {position:absolute;opacity:0.5;filter:alpha(opacity=50);z-index:2000;color:#3498db;width:auto !important}
.control-filelist p.no-data {padding:22px 0;margin:0;color:#666;font-size:14px;text-align:center;font-weight:normal;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.control-filelist ul li a span.title {font-weight:normal;color:#222;font-size:14px}
.control-filelist ul li a span.description strong {color:#222;font-weight:normal}
.control-filelist ul li.group >div.group >h4 a {padding:10px 20px 10px 53px;color:#222;position:relative;outline:none}
.control-filelist ul li >div.controls a.control {color:#222;font-size:14px;visibility:hidden;overflow:hidden;width:14px;height:21px;display:none;text-decoration:none;cursor:pointer;padding:0;opacity:0.5;filter:alpha(opacity=50)}
.control-filelist.filelist-hero ul li >a {padding:11px 45px 10px 50px;font-size:13px;border-bottom:1px solid #e0e0e0}
.control-filelist.filelist-hero ul li >a span.title {font-size:14px;font-weight:normal;color:#252525}
.control-filelist.filelist-hero ul li >h4 {padding-top:7px;padding-bottom:6px;border-bottom:1px solid #e0e0e0}
.control-scrollpanel {position:relative;background:#e0e0e0}
.report-widget {padding:15px;background:white;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;font-size:13px}
.report-widget a:not(.btn):hover {color:#3498db;text-decoration:none}
.report-widget .icon-circle.success {color:#2ecc71}
.report-widget .icon-circle.primary {color:#222}
.report-widget .icon-circle.warning {color:#f1c40f}
.report-widget .icon-circle.danger {color:#e74c3c}
.report-widget .icon-circle.info {color:#3498db}
.control-treeview ol >li >div {font-size:14px;font-weight:normal;background:#fff;border-bottom:1px solid #e0e0e0;position:relative}
.control-treeview ol >li >div >a {color:#252525;padding:11px 45px 10px 61px;display:block;line-height:150%;text-decoration:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body.dragging .control-treeview.treeview-light ol.dragging ol >li >div {background-color:#f4f4f4}
.sidenav-tree ul.top-level >li >div.group h3 {background:rgba(0,0,0,0.15);color:#e0e0e0;text-transform:uppercase;font-size:15px;padding:15px 15px 15px 40px;margin:0;position:relative;cursor:pointer;font-weight:400}
.sidenav-tree ul.top-level >li >div.group:after {content:'';display:block;width:0;height:0;border-left:7.5px solid transparent;border-right:7.5px solid transparent;border-top:8px solid #222;border-bottom-width:0;position:absolute;left:15px;bottom:-8px;z-index:101}
.sidenav-tree ul.top-level >li >ul li.active {border-left:5px solid #3498db}
@media (max-width:768px) {.sidenav-tree {width:100%;height:auto !important;display:block !important }.sidenav-tree >.layout {display:none }.sidenav-tree-root .sidenav-tree {width:100% !important;height:100% !important;display:table-cell !important }.sidenav-tree-root .sidenav-tree .back-link {display:none !important }.sidenav-tree-root .sidenav-tree >.layout {display:table !important }.sidenav-tree-root #layout-body {display:none }body.has-sidenav-tree .sidenav-tree .back-link {display:block;padding:13px 15px;background:#252525;color:#bdc3c7;font-size:14px;line-height:14px;text-transform:uppercase }body.has-sidenav-tree .sidenav-tree .back-link i {display:inline-block;margin-right:10px }body.has-sidenav-tree .sidenav-tree .back-link:hover {text-decoration:none }body.has-sidenav-tree #layout-body {display:block !important }}
ul.tree-path li.go-up a:hover {color:#3498db}
body {font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";background:#f4f4f4;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
nav#layout-mainmenu ul li .mainmenu-accountmenu {position:fixed;top:0;right:20px;background:#f4f4f4;z-index:600;display:none;-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);box-shadow:0 1px 6px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);border-radius:0}
nav#layout-mainmenu ul li .mainmenu-accountmenu:after {content:'';display:block;width:0;height:0;border-left:8.5px solid transparent;border-right:8.5px solid transparent;border-bottom:7px solid #f4f4f4;right:9px;top:-7px;position:absolute}
body.outer {background:#252525}
body.outer .layout >.layout-row.layout-head {text-align:center;background:#f4f4f4}
body.outer .layout >.layout-row.layout-head >.layout-cell:after {content:'';display:block;width:0;height:0;border-left:28px solid transparent;border-right:28px solid transparent;border-top:20px solid #f4f4f4;border-bottom-width:0;position:absolute;bottom:-20px;left:50%;margin-left:-28px}
body.outer .layout >.layout-row >.layout-cell .outer-form-container .horizontal-form button {background:#3498db;text-align:center;font-size:13px;font-weight:600;height:40px;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.control-breadcrumb.breadcrumb-fancy {margin-bottom:0;background-color:#3498db}
.fancy-layout.control-tabs.master-tabs >div >div.tabs-container >ul.nav-tabs >li.active a >span.title {background-color:#3498db;z-index:105}
.fancy-layout.control-tabs.master-tabs >div >div.tabs-container >ul.nav-tabs >li.active a >span.title:before {z-index:107;background-color:#3498db}
.fancy-layout.control-tabs.master-tabs >div >div.tabs-container >ul.nav-tabs >li.active a >span.title:after {background-color:#3498db;z-index:107}
.fancy-layout.control-tabs.secondary-tabs.secondary-content-tabs >div >ul.nav-tabs {background:#f4f4f4}
.fancy-layout.control-tabs.secondary-tabs.secondary-content-tabs.primary-collapsed >div >ul.nav-tabs {background:#3498db}
.fancy-layout.control-tabs.primary-tabs.master-area >div >ul.nav-tabs {-webkit-transition:background-color 0.5s;transition:background-color 0.5s;background:#3498db}
.fancy-layout.control-tabs.has-tabs >div.tab-content {background:#f4f4f4}
.fancy-layout .form-tabless-fields {position:relative;background:#3498db;padding:18px 23px 0 23px;-webkit-transition:all 0.5s;transition:all 0.5s}
.fancy-layout .form-tabless-fields .loading-indicator-container .loading-indicator {background-color:#3498db;padding:0 0 0 30px;color:rgba(255,255,255,0.5);margin-top:1px;height:90%;font-size:12px;line-height:100%}
.fancy-layout .field-richeditor {border:none;border-left:1px solid #e0e0e0 !important}
.btn-danger.disabled, .btn-danger[disabled], .btn-danger.disabled:hover {border-color:#656d79}

/* Font Weights */
.font-weight-bold { font-weight: 600; }

/* Text Colors */
table.table.data tbody tr.positive td, table.table.data tbody tr.positive th, table.table.data tbody tr.positive td a, table.table.data tbody tr.positive th a {color: #2ecc71;}
table.table.data tbody tr.negative td, table.table.data tbody tr.negative th, table.table.data tbody tr.negative td a, table.table.data tbody tr.negative th a {color: #e74c3c;}
.text-info {color:#3498db;}
.text-warning {color:#f1c40f;}
.text-success {color:#2ecc71;}
.text-danger {color:#e74c3c;}
.text-muted {color:#95a5a6;}

/* Settings Navigation */
.sidenav-tree ul.top-level > li > div.group h3 {background: rgba(0,0,0,0.35);}

/* Form Labels */
.form-group > label, .form-group > .field-section > h4 {font-weight:600;}
.form-group > .field-section > h4 {color: #222; font-size:16px;}

/* Tabs */
.control-tabs > ul.nav-tabs > li a > span.title > span, .control-tabs > div > ul.nav-tabs > li a > span.title > span, .control-tabs > div > div > ul.nav-tabs > li a > span.title > span { font-weight:600; }

/* Text Transforms */
.text-capitalize {text-transform: capitalize;}
